[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.suo

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]roject[Ss]ettings/**/*.meta

[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.json*

sysinfo.txt
